Repository gliff-ai/curate, pull requests merged in 2021-11, with the labels that each got.

#255 fix: thumbnail selectors order
  .github/workflows/azure-static-web-apps-salmon-meadow-05ee3f103.yml
  package-lock.json
  package.json
  src/components/Tooltips.ts
Labels: enhancement

#260 ci: update codeQL to use TS
  .github/workflows/codeql-analysis.yml
Labels: bug, test

#265 chore!: bump to v1.0.0
  package-lock.json
  package.json
Labels: major

#274 fix: correct codeQL cron
  .github/workflows/codeql-analysis.yml
Labels: bug, deployment
