Repository gliff-ai/curate, pull requests merged in 2022-06, with the labels that each got.

#415 feat: update STYLE and more BREAKING CHANGE
  package-lock.json
  package.json
Labels: feature

#425 fix: remove upload from bundle
  vite.config.lib.ts
Labels: bug

#424 feat: nicer datatable
  src/TableView.tsx
  src/components/SizeThumbnails.tsx
  src/helpers.ts
  src/interfaces.ts
  src/sort/SortPopover.tsx
  src/ui.tsx
Labels: feature

#406 fix: wait 3 seconds before closing snackbar in logTaskExecution
  src/decorators/progress.tsx
  src/ui.tsx
Labels: bug

#426 feat: Remove make style
  package-lock.json
  package.json
  src/components/LabelsPopover.tsx
  src/search/LabelsFilterAccordion.tsx
  src/search/SearchBar.tsx
  src/search/SearchFilterCard.tsx
  src/sort/GroupBySeparator.tsx
Labels: feature

#427 feat: Centralise selection state to share between Tile/Grid view
  src/MetadataDrawer.tsx
  src/TableView.tsx
  src/TileView.tsx
  src/components/AutoAssignDialog.tsx
  src/components/Tile.tsx
  src/components/index.ts
  src/helpers.test.ts
  src/helpers.ts
  src/interfaces.ts
  src/search/SearchBar.tsx
  src/sort/GroupBySeparator.tsx
  src/ui.tsx
Labels: feature

#403 feat: View annotations
  examples/samples/metadata.json
  package-lock.json
  src/MetadataDrawer.tsx
  src/components/AutoAssignDialog.test.tsx
  src/components/DefaultLabelsDialog.tsx
  src/components/Tooltips.ts
  src/components/ViewAnnotationsDialog.tsx
  src/components/index.ts
  src/ui.tsx
Labels: enhancement, feature

#428 fix: linter now checks all files 😭
  package.json
  src/components/AssigneesDialog.test.tsx
  src/components/AssigneesDialog.tsx
  src/components/AutoAssignDialog.test.tsx
  src/components/AutoAssignDialog.tsx
  src/components/DefaultLabelsDialog.tsx
  src/components/LabelsPopover.test.tsx
  src/components/LabelsPopover.tsx
  src/components/Tile.tsx
  src/components/Tooltips.ts
  src/components/ViewAnnotationsDialog.tsx
  src/components/index.ts
  src/components/plugins/PluginsAccordion.tsx
  src/helpers.ts
  src/search/LabelsFilterAccordion.tsx
  src/ui.tsx
Labels: bug

#432 fix: deselect deleted images on props update
  src/ui.tsx
Labels: bug
